<app-filler>
      <app-background>
            <h1>Trabajo</h1>
            <p class="greeyed">
                  <br>
                  El progreso y labor. 
                  <br>
                  <br>
            </p>
            <h2>¿Qué me gusta hacer?</h2>
            <p>
               Hago todo el tiempo lo mismo de lo que pienso trabajar, soy desarrollador de software,
               no lo considero una actividad de tiempo libre, sino un trabajo hacia una meta que necesito.
               <br>
               <br>
            </p>
            <p>
               Tambien soy creador de una pequena startup llamada "naut", en la que he trabajado desde inicios
               de año. esta idea me lleva persiguiendo hace varios años (antes se llamaba community).
               Ha sido un gran proceso de aprendizaje y si no fuera por esto, no sabría sobre el 
               cómo hacer esta misma página web.
            </p>
            <img style="height: 300px; width: auto;" src="../../../assets/pictures/logo.png">
            <p>
               <br>
               <br>
               Mi serie favorita es Breaking Bad.
               <img src="../../../assets/pictures/bb.gif">
               <br>
               <br>
            </p>
            <h2>Profesores</h2>
         <p>Realmente gracias por todo.</p>
         <p style="color: rgb(169, 169, 169);">
            De verdad.
               <br>
               <br>
         </p>
         <p>
            Admiro mucho los que indagaron en los problemas estudiantes, tuvieron paciencia y buscaron diferentes formas de dar
            su enseñaza. En realidad son maestros.
         </p>
         <p style="color: black; font-family: Hack;"> 
            <br>
            <br>
            Claudia
            <br>
            Benita
            <br>
            Gloria
            <br>
            Yamith
            <br>
            Alexander
            <br>
            Henry
            <br>
            Jorge
            <br>
            Elsa
            <br>
            Isleni
            <br>
            Sadis
            <br>
            Didier
            <br>
            Johana
            <br>
            Dafly 👍
            <br>
            <br>
            <br>
         </p>
            <h2>Mis companeros</h2>
         <p>
            Todos han hecho una experiencia irrepetible para nadie mas en todo el mundo, quien soy yo,
            es quien ustedes han ayudado a formar, quitandole o dandole motivos en su vida y estoy seguro, 
            o almenos intente hacer sus vidas un poquito mejor.
            <br>
            <br>
            <br>
         </p>
            <h2>Colegio</h2>
         <p>
            Sueno con que algun dia el sistema educativo sea suficientemente flexible para que las personas
            puedan invertir ese tiempo en algo que les gusta, y no en materias vacias. 
            <br>
            <br>
            <br>
         </p>
         <p style="color: rgb(154, 154, 154); font-family: Cormorant; font-weight: 600;" >Esteban - stefanos (Victorioso)</p>
         <a href="/life/family">go back <-</a>
         <a href="/">Return <<-</a>
      </app-background>
</app-filler>
