<app-filler>
      <app-background>
            <h1>Así soy</h1>
                  <br>
            <p class="greeyed">
                  Original, Curioso, Persistente.
            </p>
            <p>
                  <br>
                  Me considero alguien extraño socialmente.
                  <br>
                  pocas cosas me importan, entre esas esta el trabajo, la verdad, la justicia y el amor.  
                  <br>
                  <br>
            </p>
            <h2>Okay, ¿quien eres?</h2>
            <p>
               Soy Juan Esteban Ospina. 
               <br>
               Soy el segundo hijo de mis padres, 
               tengo un hermano llamado Julian,
               que hace cosas cool alrededor del mundo.
            </p>
            <img src="../../../assets/pictures/julian-axe.jpg" alt="axe">
            <img src="../../../assets/pictures/julian-zeus.jpg" alt="zeus">
            <p>
               He vivido casi toda mi vida en Medellín, excepto que nací en itagüi y 
               Aunque haya vivido toda mi vida en este lugar, no comparto muchas de las costumbres.
                  <br>
                  <br>
            </p>
            <h2>Amores ❤️</h2>
            <img src="../../../assets/pictures/keittly.jpg" alt="keittly">
            <p>
                  <br>
            </p>
            <h2>Fortalezas</h2>
                  <br>
            <p class="greeyed">
                  - CONSTANCIA - 
            </p>
            <p>
                  No me gusta decirme inteligente a mí mismo, porque detrás de cada hazaña
                  hay mucho trabajo, seguramente la mayoría pueda calcular algo más rápido
                  pero yo lo hare con genialidad.
                  <br>
                  <br>
            </p>
            <p class="greeyed">
                   - IMPREDECIBILIDAD - 
            </p>
            <p> Cuando menos se lo esperan :]
                  <br>
                  <br>
            </p>
            <h2>Debilidades</h2>
            <p class="greeyed">
                   - PROBLEMAS SOCIALES - 
            <p>
            <p>
                  
                  Tengo asperger (autodiagnosticado).
                  <br>
                  hace un momento dije que soy extraño socialmente, 
                  hablo diferente con cada persona,
                  intento sonar lo mas familiar y si esto te sorprende,
                  creo que lo he logrado.
                  <br>
                  <br>
            </p>
            <p class="greeyed">
                   - ENFOQUE EXCESIVO - 
            </p>

            <p>
                  Cuando tengo una meta, dejo mi vida de lado hasta cumplirlo y
                  volver justo despues a la normalidad 
                  <br>
                  eso no quita que aún me siguen importando las personas.
                  <br>
                  <br>
            </p>
            <h2>Clave del éxito</h2>
            <p style="color: black; font-weight: 600;">
                  E = (T * C)^af
            </p>
            <p class="greeyed">
                  el éxito es igual al trabajo por la constacia elevado a los amigos famosos.
            </p>
            <h2>Playlist</h2>
            <img src="../../../assets/pictures/collage.jpg" alt="alpha">
            <p style="font-family: Hack;background-color: rgb(255, 242, 255); padding: 16px;">
                >  JackStauber - New Normal
                  <br>
                >  JackStauber - Dead Weight
                  <br>
                >  JackStauber - Two Time
                  <br>
                >  C418 - Concrete Halls
                  <br>
                >  C418 - Sweeden
                  <br>
                >  C418 - Kompass
                  <br>
                >  Gary Jules - Mad World
                  <br>
            </p>
            <a href="/life/preamble">go back <-</a>
            <a href="/life/family">next -></a>
      </app-background>
</app-filler>
