
<app-filler>
      <app-background>
            <h1>Familia</h1>
            <p class="greeyed">
                  <br>
                  La familia son vínculos de sangre y estrecha convivencia. 
                  <br>
                  <br>
            </p>
            <h2>Personas importantes para mí</h2>
            <p style="font-weight: 500; color: black;padding: 15px; background-color: #fff2f2;">
               Mi mamá, mi Papá, mi Hermano, mis Tíos, mis Abuelos, Keittly y su familia. 
            </p>
            <p>
               <br>
               Mi familia me ha dado todo lo que he necesitado para ser quien soy ahora y estoy orgulloso por eso.
            </p>
            <h2>Amigos y casi amigos</h2>
         <p>Angie</p>
            <img src="../../../assets/pictures/angie.jpg">
         <p>Santiago</p>
            <img src="../../../assets/pictures/santiago.jpg">
         <p>Andres</p>
            <img src="../../../assets/pictures/c.jpg">
         <p>Sebastian</p>
            <img src="../../../assets/pictures/sebastian.jpg">
         <p>Maicol</p>
            <img src="../../../assets/pictures/e.jpg">
         <p>Yuridia</p>
            <img src="../../../assets/pictures/f.jpg">
         <p>Cristian</p>
            <img src="../../../assets/pictures/cristian.jpg">
         <p>Juan Jose</p>
            <img src="../../../assets/pictures/juan-jose.jpg">
         <p>Marilin</p>
         <p>Estiven</p>
         <p>Hilary</p>
         <p>Julian</p>
         <p>Santiago x2</p>
         <p>Camila</p>
         <p>Higuita</p>
         <p>Angeline</p>
         <p>Elvis</p>
         <p>...</p>
         <p></p>
         <p></p>
            <p style="color: rgb(169, 169, 169);">
               es todo lo que encontré.
                  <br>
            </p>
            <a href="/life/iam">go back <-</a>
            <a href="/life/work">next -></a>
      </app-background>
</app-filler>
