<app-filler>
      <app-background>
            <h1>Preámbulo</h1>
            <br>
            <p>
                  Se lo dedico a mi familia, amigos y compañeros.
                  <br>
                  A todos los que me han acompañado en este proceso, de lo que sea que haya sido todo esto.
            </p>
            <p>
                  <br>
                  "Warning: Everything saved will be lost." 
                  <br>
            </p>
            <p class="greeyed">
                  - Wii notification 
                  <br>
                  <br>
            </p>
            <p>
                  <br>
                  "Keep Cool, Never Freeze." 
                  <br>
            </p>
            <p class="greeyed">
                  - bottle of mayonnaise.
                  <br>
                  <br>

            </p>
            <h2>¿Por qué hacer esto?</h2>
            <p>
                  Este proyecto significó algo más que una nota. 
                  <br>
                  Me gusta la idea de crear cosas grandes, quise algo con lo que aprender y 
                  llamar la atención de mis companeros, familia y cualquier persona que 
                  me quiera conocer.
                  <br>
                  <br>
            </p>
            <h2>¿Cómo me veo en 15 años?</h2>
            <p>
                  Haciendo algo extremadamente ambicioso, si la economía no ha colapsado aún
                  en una realidad post apocalíptica, podría estar haciendo robots o algo espacial
            </p>
            <a href="/">go back <-</a>
            <a href="/life/iam">next -></a>
      </app-background>
</app-filler>